header { 
    margin:0px;
    padding:0px;
    background-color: #fd630de3;
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header img {
    max-height:100px;
    margin-top:-19px;
    margin-bottom:-19px;
    margin-left:-19px;
    background-color: hsl(7, 95%, 53%);
    border-color: #fc1919eb;
  }  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
       justify-content: center;
       align-items: center;
       text-align: right;
  }
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  nav ul li a {
    text-align: right;
    color: rgb(8, 124, 27);
    font-size:20px;
  }
    h1 {
      background-color:white;
      text-align: center;
      color: rgb(8, 124, 27);
      font-weight: bold;
      font-size:30px;
    }
    p {
      font-size:30px;
      color: hsl(240, 34%, 47%);
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

      .timage
      {
        float: left;
        background-color: #b9b3b3;
        margin-left: 550px;
        margin-bottom: 50px;
        margin-right: 300px;
       margin-top: 10px;
        padding: 1px;
        border: hsl(0, 100%, 0%);
        border-width: 100%;
        align-items: center;
      }
      .box1{
        background-color:white;
        padding: 2px;
       width: 100%;
       height: 400px;
      }
 .kimage {
    float:left;
    align-items: left;
    background-color: #b9b3b3;
    padding: 1px;
    border: hsl(0, 100%, 0%);
    margin-top: 30px;
    margin-left: 130px;
  }
  p
  .fclass {
    float:right;
    background-color: #ddd;
    font-size: 10px;
    background-color: rgb(5, 4, 4);
    border: hsl(0, 100%, 1%);
    margin-top: 30px;
    text-align: justify;
  }
  h2 {
    background-color:white;
    text-align: center;
    color: rgb(8, 124, 27);
    font-weight: bold;
    font-size:28px;
    margin-top: 140px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #myButton {
    position:relative;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: hsl(240, 34%, 47%);
    border-color:  hsl(240, 34%, 47%);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px 30px;
    font-size: 15px;
    margin-top: 280px;
    margin-left: 200px;
  }
  h3 {
    font-size: 17px;
   color: #070707;
    text-align: center;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 100px;
  }
  h4 {
    font-size:30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #070707;
  }
     table {
      border-collapse: collapse;
      width: 100%;
      height: 80px;
      margin-top:10px;
    }
    th, td {
      border: 1px solid black;
      text-align: center;
    border-color: rgb(8, 8, 8);
    color: #070707;
    }
    h5 {
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 18px;
      color: red;
      margin-top: 100px;
    }
    h6 {
      float: right;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 15px;
      color: red;
      margin-top: 10px;
    }
    .box6 {
      float: left;
      background-color:rgb(8, 124, 27);
      padding: 5px;
     width:100%; 
     height: 400px;
     margin-top:10px;
     font-family: 'Times New Roman', Times, serif;
    }
    .operation {
      float:left;
      font-size: 19px;
      text-align: left;
      color: #ddd;
    }
    .adress {
      float:right;
      font-size: 19px;
      text-align:right;
      color: #ddd;
      text-align: justify;
    }
    .jclass  {
    font-size: 19px;
    color: #ddd;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top:270px;
    }
    .insta {
      height: 40px;
      width: 40px;
      margin-top: -20px;
      margin-left: 550px;
    }
    .utube {
      height: 48px;
      width: 65px;
      margin-left: 10px;
      margin-top: -52px;
    }
    .google {
      height: 40px;
      width: 40px;
      margin-left: 10px;
      margin-top: -58px;
    }
    .facebook{
      margin-left: 750px;
      margin-top: -45px;
    }